@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap')

$background-app = #e0e0e0
$background-content = #fcf8fa
$background-material = rgba(44, 2, 25, 0.7)
$border = #c2c2c2
$gradiant-bottom = linear-gradient(to bottom, #42002d 30%, #72044f 100%)
$gradiant-top = linear-gradient(to top, #42002d 0%, #72044f 100%)
$green-color = #A5D846
$principal-color = #42002d
$red-color = #DE6872
$text-color = #192735

#app
  font-family Roboto, sans-serif, Helvetica, Avenir, Arial
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background-color $background-app
  color $text-color
  font-size 1.3rem
  margin 0
  padding 0

.bot
  width 96%
  height 90%
  border-top-left-radius 500px
  box-shadow -3px -3px 6px $border

.bot-content
  display flex
  align-items flex-end
  justify-content flex-end
  margin-top 20px
  background $gradiant-top
  border-top solid 3px $text-color
  border-right solid 3px $text-color

.check
  background-color $green-color
  line-height 18px

.container
  display grid
  justify-items center
  width 100%

.content
  background-color $background-content
  display grid
  max-width 1200px
  line-height 1.5

.content-product
  display grid

.content-header
  width 100%

.content-material
  display grid
  width 100%

.float
  position fixed
  right 20px
  bottom 40px
  width 200px
  height 310px
  border-radius 10px

.footer-nav
  background $gradiant-bottom
  border-top 1px solid $border
  display flex
  justify-content center
  width 100%

.head
  height 90%
  width 96%
  border-bottom-right-radius 500px
  box-shadow 3px 3px 6px $border

.header-nav
  background $gradiant-top
  border-bottom 1px solid $border
  display grid
  grid-template-columns repeat(2, auto)
  height 120px
  width 100%

.head-content
  display flex
  background $gradiant-bottom
  border-bottom solid 3px $text-color
  border-right solid 3px $text-color

.img-collage
  display grid
  grid-gap 10px
  grid-template-columns repeat(2, 1fr)
  justify-self center
  width 90%

.img-link
  align-self center
  height 80px
  margin-left 20px
  width 80px

.img-material
  border-style groove
  box-shadow: 3px 3px 6px $text-color
  justify-self center
  margin 0
  max-width 640px
  width 90%

.img-menu
  display none

.img-menu img
  border-radius 20px
  border solid 2px $border
  height 55px
  margin-right 20px
  width 55px

.img-menu img:hover
  background-color $principal-color
  cursor pointer
  transform scale(1.05)

.instalation
  display grid

.logo
  height 100%
  
.list
  margin 10px 0
  padding-left 20px
  text-indent -15px

.l-1
  background linear-gradient(to right, $principal-color 0%, $text-color 100%)
  border-top solid 3px $text-color
  border-left solid 3px $text-color
  border-radius 0px 30px 30px 30px
  box-shadow: 3px 6px 5px $text-color
  color white
  margin-bottom 20px
  width 80%

.l-2
  background linear-gradient(to left, $principal-color 10%, $text-color 100%)
  border-top solid 3px $text-color
  border-right solid 3px $text-color
  border-radius 30px 0px 30px 30px
  box-shadow: 3px 5px 5px $text-color
  color white
  margin-bottom 20px
  width 80%
  align-self flex-end
  text-align right

.material
  align-items center
  display grid
  grid-template-columns repeat(2, 1fr)
  justify-self center
  margin-bottom 30px
  justify-self center
  max-width 1200px
  width 100%

.material img
  border-top-left-radius 500px
  box-shadow -5px -6px 7px $text-color
  grid-column 1/3
  grid-row 2/2
  justify-self center
  max-height 380px
  max-width 640px
  min-height 280px
  width 100%

.material .list
  grid-column 1/3
  grid-row 1/2
  background none
  border none
  color $text-color
  justify-self start

.material p
  align-self center
  background $gradiant-bottom
  border-radius 20px 0 0 20px
  border solid 1px $border
  box-shadow -5px 6px 7px $text-color
  color white
  grid-column 2/3
  grid-row 2/2
  justify-self end
  margin 0
  padding 10px 0 10px 20px
  width 150px

.menu
  align-self center
  border-radius 30px
  border solid 2px gray
  cursor pointer
  height 55px
  margin-right 20px
  opacity 0.6
  width 55px

.menu:hover
  background-color $principal-color
  opacity 1.2
  transform scale(1.05)


.menu
  position absolute
  background-color #400030
  right 0
  bottom 0

.nav
  box-shadow -8px -5px 7px $text-color
  display flex
  flex-direction column
  text-align center
  margin 10px 20px
  position absolute
  right 0
  top -50px
  width 200px

.nav-primary
  align-self end
  background-color $principal-color
  box-shadow -8px 5px 7px $text-color
  display none
  flex-direction column
  position absolute
  right 20px
  text-align center
  top 120px

.nav-primary a
  border solid 1px $border
  margin 0
  padding 5px

.nav-primary a:hover
  background-color rgba(255, 255, 255, 0.2)
  border-radius 3px
  border solid 1px $border

.negative
  background-color $red-color
  border 3px
  border-style groove
  box-shadow 3px 3px 7px $text-color
  margin-top 20px

.positive
  background-color $green-color
  border 3px
  border-style groove
  box-shadow 3px 3px 7px $text-color
  margin-top 20px

.product
  justify-self center
  max-width 800px
  width 90%

.p-1
  display grid

.reject
  background-color $red-color

.separator
  background $gradiant-bottom
  border-bottom-right-radius 200px 100px
  border-bottom solid 5px $text-color
  border-top-left-radius 200px 100px
  box-shadow: 2px -3px 6px $text-color
  display flex
  justify-content flex-end
  height 15px
  margin-top 20px
  width 100%

.steps
  display flex
  flex-direction column
  width 100%
  justify-self center

.sub-content
  display grid
  margin 0 15px

.ventajas
  display grid

.table
  display flex
  flex-direction column
  justify-self center
  max-width 1000px

.table th
  background-color rgba(0, 0, 0, 0.568)
  border-bottom solid 1px $border
  height 20px


h1
  margin 40px 0 20px
  padding 0 15px
  width 90%

h2
  margin 40px 0 20px
  padding 0 15px
  width 90%

h3
  margin 40px 0 20px
  padding 0 15px
  width 90%

p
  padding 0 15px
  width 90%

.hover-cursor-pointer
  &:hover
    cursor pointer

@media (min-width: 599px)
  .material
    max-width 800px
    border-top solid 3px $text-color

  .float
    display none

  .img-menu
    align-items center
    display flex
    height 120px
    justify-content flex-end

  .table
    flex-direction row

  .positive
    margin-right 10px
    width 100%

  .negative
    margin-left 10px
    width 100%

  .nav-primary
    display flex

  a
    font-size 1.3rem

  .material img
    grid-column 2/3
  

  .material .list
    grid-column 1/2

  .material p
    grid-column 1/2
    width 90%
    color $background-content
    border none
    border-radius 0 20px 20px 20px
  
  .steps
    max-width 800px