// style content
.content
  display grid
  background-color #fcf8fa
  max-width 640px
  line-height 1.5
  
.sub-content
  display grid
  margin 0 15px

.head
  width 100%

.img-material
  border-style groove
  margin 0
  width 90%
  max-width 640px
  justify-self center

.img-collage
  width 90%
  display grid
  grid-template-columns repeat(2, 1fr)
  grid-gap 10px
  justify-self center

.instalation
  display grid

.reject
  background-color #DE6872

.check
  line-height 18px
  background-color #A5D846

.p-1
  display grid

// style informativo

.list
  padding-left 20px
  text-indent -15px
  margin 10px 0

.img-bot
  justify-self center
  width 100%
  margin-top 20px

.table
  display flex
  flex-direction column
  max-width 800px
  justify-self center

.positive
  background-color #c4f56a
  border 3px
  border-style groove

.negative
  background-color #f37b85
  border 3px
  border-style groove

.table th
  height 20px
  border-bottom solid 1px gray
  background-color rgba(0, 0, 0, 0.568)

.content-header
  width 100%

.header-nav
  display grid
  grid-template-columns repeat(2, auto)
  width 100%
  height 120px
  background-color #460030
  border-bottom 1px solid gray

.img-link
  height 80px
  width 80px
  align-self center
  margin-left 20px

.header-nav img
  height 100%

.img-menu
  height 120px
  display flex
  align-items center
  justify-content flex-end

.img-menu img
  display none
  border-radius 20px
  border solid 2px gray
  width 50px
  height 50px
  margin-right 20px

.img-menu img:hover
  background-color #5e062d
  cursor pointer
  transform scale(1.05)

.nav-primary
  background-color #460030
  position absolute
  top 120px
  right 20px
  display flex
  flex-direction column
  text-align center
  align-self end
  width 200px

.nav-primary a
  margin 0
  padding 5px
  border solid 1px gray

.nav-primary a:hover
  border solid 1px gray
  background-color rgba(25, 0, 0, 0.2)
  border-radius 3px

h1
  width 90%
  padding 0 15px

h2
  width 90%
  padding 0 15px

h3
  width 90%
  padding 0 15px

p
  width 90%
  padding 0 15px


.hover-cursor-pointer
  &:hover
    cursor pointer
